.display,
.display-blog.active {
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #535353;
  background-color: #dfdfdfb0;
  width: 100%;
  text-align: center;
}

.display-horoscope {
  min-height: 130px;
}

.display-card {
  min-height: 180px;
  justify-content: center;
  gap: 15px;
}

.display-name {
  min-height: 150px;
}

.display-blog {
  display: none;
}

.display-blog.active {
  min-height: 280px;
}

.display-title {
  font-size: clamp(0.8125rem, 0.5568rem + 1.2784vw, 1.375rem);
  font-family: "Neucha";
  font-weight: bold;
}

.display-description {
  font-size: clamp(0.6875rem, 0.4886rem + 0.9943vw, 1.125rem);
  font-family: "JetBrains Mono Italic";
}

@media (min-width: 768px) {
  .display-card {
    flex: 1;
  }
  .display-name {
    grid-column: span 2;
  }
}
