@import url("./__title/header__title.css");
@import url("./__navigation/header__navigation.css");

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
