@import url("./__title/header__title.css");
@import url("./__navigation/header__navigation.css");
@import url("./__button/header__button.css");
@import url("./__user/header__user.css");

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}
